@import "../../../styles/colors";

.searchbox {
	display: flex;
	height: 40px;
	margin: 10px 0;
	justify-content: center;
	width: 100%;

	.search-input {
		width: 100%;
		input[type=text] {
			width: 100%;
		}
	}
}
