
$color-black : #000000;
$color-white : #ffffff;

$color-gray-1 : #333333;
$color-gray-2 : #666666;
$color-gray-3 : #999999;
$color-gray-4 : #EEEEEE;
$color-gray-5 : #e6e5e5;

$color-green-1 : #00a650;

$color-violet-1 : #EBE5F5;
$color-violet-2 : #A780FF;
$color-violet-3 : #4300D2;
$color-violet-4 : #270570;

$color-yellow-1 : #FFE600;