$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;
$desktop-lg-width: 1280px;

$font-size-0: 11px;
$font-size-1: 12px;
$font-size-2: 14px;
$font-size-3: 16px;
$font-size-4: 18px;
$font-size-5: 20px;
$font-size-6: 24px;
$font-size-7: 30px;
$font-size-8: 36px;

$space-size-1: 4px;
$space-size-2: 8px;
$space-size-3: 12px;
$space-size-4: 16px;
$space-size-5: 24px;
$space-size-6: 32px;
$space-size-7: 48px;
$space-size-8: 56px;
$space-size-9: 64px;