@import url('https://fonts.googleapis.com/css?family=Lato:400,500,700|Rubik:400,500,700');

@import './colors';
@import './scales';
@import 'skeleton';

$font-family-rubik: 'Rubik',
sans-serif,
-apple-system,
Segoe UI,
Roboto,
Noto Sans,
Ubuntu,
Cantarell,
Helvetica Neue;

html {
    font-family: $font-family-rubik;
    font-size: $font-size-2;
    color: $color-gray-1;

    * {
        font-family: $font-family-rubik;
    }
}

body {
    background-color: $color-gray-4;
}

a {
    text-decoration: none;
    color: $color-gray-1;

    &:hover {
        color: $color-violet-4;
    }

    &:active {
        color: $color-gray-1;
    }

    &:visited {
        color: $color-gray-1;
    }
}

.listed-data {
    &:not(:last-child) {
        margin-bottom: $space-size-4;
    }
}

.data-horizontal-block {
    &:not(:last-child) {
        margin-bottom: $space-size-4;
    }

    .data-block {
        &:not(:last-child) {
            margin-right: $space-size-3;
        }
    }
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 100%;

    &.danger {
        color: #a94442;
        background-color: #f2dede;
        border-color: #ebccd1;
    }
}