<!DOCTYPE html>
<html>

  <head>
    <base href="{{base}}" />
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<link href="https://fonts.googleapis.com" rel="preconnect" crossorigin>
		<link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link rel="icon" href="{{static-context}}/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{{static-context}}/dist/main.css" rel="stylesheet" />
  </head>

  <body>
    <div id="root"></div>
    {{{body}}}
  </body>

</html>